/* App.css */

.super-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: white;
}

.logo-container {
  margin-right: 20px;
}

.logo {
  max-height: 50px;
}

.title-container {
  flex-grow: 1;
  text-align: center;
}

.super-footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  bottom: 0px;
  position: fixed;
  width: 100%;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.github-button,
.linkedin-button {
  background-color: #4078c0;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

.github-button:hover,
.linkedin-button:hover {
  background-color: #314f80;
}
